/* GTK+ custom style here */
#ViewLoadMore {
    border-image-width: 0 2 2 2;
    border-width: 0 1 1 1;
}

.documents-selection-mode.toolbar {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(#8e9c80),
                                    to(#4f6838));
    color: alpha(#ffffff, 0.32);
    border-width: 1 0 0 0;
    border-color: #3e7b05;
    border-style: solid;
}

.documents-selection-mode.toolbar .button {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(#7fc141),
                                    color-stop(0.83, #47850d),
                                    to(#4e9a06));
    color: #ffffff;
    text-shadow: none;
    icon-shadow: none;
    border-color: #3e7b05;
    border-image: none;
    border-style: solid;
    border-width: 1;
}

.documents-icon-bg {
    background-color: #3465a4;
    border-radius: 4;

    color: #ffffff;
}

.documents-collection-icon {
    background-color: #d3d7cf;
    border-radius: 8;
}

.osd {
    background-image: none;
    background-color: alpha(#000, 0.00);
}

.osd .toolbar {
    padding: 16;
    border-style: none;
    border-radius: 5;
    border-width: 0;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(#242424, 0.80)),
                                    color-stop(0.63, alpha(#101010, 0.80)),
                                    to(alpha(#262626, 0.80)));
    color: #bebebe;

    -GtkToolbar-button-relief: normal;
}

.osd .toolbar .button {
    padding: 4;

    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(#ffffff, 0.16)),
                                    color-stop(0.68, alpha(#525252, 0.05)),
                                    to(alpha(#ffffff, 0.12)));
    border-width: 1 0;
    border-style: solid;
    border-image: none;
    border-color: alpha(#ffffff, 0.50);
    border-radius: 0;

    text-shadow: none;
    icon-shadow: none;
    box-shadow: -1 0 inset #9f9f9f;
}

.osd .toolbar .button:nth-child(first) {
    border-radius: 4 0 0 4;
    border-left-width: 1;
    box-shadow: -1 0 inset #9f9f9f;
}

.osd .toolbar .button:nth-child(last) {
    box-shadow: none;
    border-radius: 0 4 4 0;
    border-right-width: 1;
}

.osd .toolbar .button:only-child {
    border-width: 1;
    border-radius: 4;
    border-style: solid;
}

.osd .toolbar .separator {
    color: alpha(@theme_tooltip_fg_color, 0.30);
}

.osd .toolbar .button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(#ffffff, 0.28)),
                                    color-stop(0.68, alpha(#525252, 0.14)),
                                    to(alpha(#ffffff, 0.14)));
}

.osd .toolbar .button *:hover {
    color: shade(#bebebe, 1.20);
}

.osd .toolbar .button:active,
.osd .toolbar .button:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from(alpha(#525252, 0.18)),
                                    color-stop(0.68, alpha(#ffffff, 0.23)),
                                    to(alpha(#525252, 0.17)));
}

.osd .toolbar .button.favorite,
.osd .toolbar .button.favorite *:hover {
    color: shade(@theme_selected_bg_color, 1.20);
}
